.wrapper {
  width: 70vh;
  height: auto;
  margin: 0 auto;
  animation: shake 3s infinite;
  transform: skew(20deg);
  animation-direction: alternate;
}

.japan {
  padding: 30%;
  background-color: white;
  position: relative;
  border: black 1.5px solid;
  
}

.japan::before{
  content: "";
  width: 40%;
  height: 60%;
  position: absolute;
  background-color: darkred;
  top: 20%;
  left: 30%;
  border-radius: 50%;
}

@keyframes shake {
  0% {
    transform: skewY(20deg);
  }

  100% {
    transform: skew(-20deg, -20deg);
  }
}